{% extends "layout.html" %}
{% block content %}
    <p class="home">The entire project has been made using Flask. For database we are using SQLite3.</p>
    <br>
	<br>
	<br>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px">
	<h3 style="color: white;">Features:</h3>  <li>Manage all your events at one place</li>
	<li>Get your guests list</li>
	<li>Seating Chart for your guests. Download it and save it offline.</li>
	<li>Progress Report</li>
	<li>Get guests rsvp</li>
	<li>Table Wise Arrangement</li>
	
</div>

    <p style="position: fixed; bottom: 0; text-align: center; width: 53%"><b>< ></b> with &#10084; by Soham Bhardwaj </p>
{% endblock content %}
