{% extends "layout.html" %}
{% block content %}
    <p class="home">The entire project has been made using Flask. For database we are using SQLite3.</p>
    <br>
	<br>
	<br>
<div style="font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 20px">
	<h3 style="color: white;">Features:</h3>  <li>Manage all your events at one place</li>
	<li>user can add books to collection or remove from it</li>
	<li>making record of alredy read books which are remove from collection.</li>
	<li>Search an ebook from thousands of ebooks using various filter</li>
	<li>Get information about any ebook</li>
	<li>Give your review to ebooks</li>
	
</div>

    <p style="position: fixed; bottom: 0; text-align: center; width: 53%"><b>< ></b> with &#10084; by <br>Soham Bhardwaj and Sonu kumar</p>
{% endblock content %}
