{% extends "layout.html" %}
{% block content %}
            <h2>{{book.title}}</h2>  
            <br>
            <img src="{{url_for('static',filename=book.path)}}" width="250" height="250">
            <br>
            <br>
            {% if current_user.is_authenticated %}
            <a href="{{book.link}}" class="btn button">READ</a>
            {% endif %}

            <h4>Reviews for this book</h4>
            <br>
            {%for review in reviews%} 
            	{%if review.content!=None%}
            	<article class="media content-section">
            	          <div class="media-body">
            	            <div class="article-metadata">
            	              <a class="mr-2" href="#">{{ review.reader_id }}</a>
            	            </div>
            	            <p class="article-content">{{ review.content }}</p>
            	          </div>
            	        </article>
            	{%endif%}
            {%endfor%}
{% endblock content %}