{% extends "layout.html" %}
{% block content %}
            <h2>{{book.title}}</h2>  
            <br>
            <div class="book-page" style="display:flex;justify-content: flex-start;">
              {% if book.book_id < 12 %}
                <img src="{{url_for('static',filename=book.path)}}"  width="250" height="250" style="opacity: 0.8">

                {% else %}
                <img src="{{book.path}}"  width="250" height="250" style="opacity: 0.8" >
                {% endif %}
              <ul >
                <li><b>ISBN</b>  : {{book.isbn}}</li>
                
                <li><b>Category</b>  : {{book.category}}</li>
                <li><b>Author</b>   : {{author_name.author_name}}</li>
               
                <li><b>Description</b> : {{book.desc}}</li>
                <br>
                <a href="{{url_for('AuthorBooks',author_id=book.author_id,author_Name=author_name.author_name)}}" class="btn-sm button">Other Books by {{author_name.author_name}}</a>
                
                
              </ul>          
            </div>
            <br>
            <br>
            {% if current_user.is_authenticated %}
            <div align="center">
              <a href="{{book.link}}" class="btn button book">READ</a>
              {%if owned==False%}
              <a href="{{url_for('AddBooks',book_id=book.book_id)}}" class="btn button book">ADD</a>
              {%else%}
               <button class="btn button book"  disabled>✓ ADDED</button> 
              {%endif%}
            </div>
            {% endif %}
            <br>
            <br>
            <h4>Reviews for this book</h4>
            <br>
            {%for review in reviews%} 
            	{%if review.content!=None%}
                  {%if review.reader_id!=current_user.reader_id%}
            	<article class="media content-section">
            	          <div class="media-body">
            	            <div class="article-metadata">
            	              <a class="mr-2" href="#">{{ authors[review.reader_id] }}</a>
            	            </div>
            	            <p class="article-content">{{ review.content }}</p>
            	          </div>
            	        </article>
                  {%else%} 
                        <article class="media content-section">
                            <div class="media-body">
                              <div class="article-metadata">
                                <a class="mr-2" href="#">{{ authors[review.reader_id] }}</a>
                                <div>
                                    <button type="button" class="btn btn-secondary btn-sm mt-1 mb-1" data-toggle="modal" data-target="#editModal">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

                                    </div>
                              </div>
                              <p class="article-content">{{ review.content }}</p>
                            </div>
                          </article>
                  {%endif%}
            	{%endif%}
            {%endfor%}
            {%if present==False%}
                  <button type="button" class="btn-sm btn-secondary" data-toggle="modal" data-target="#addModal">Add Review</button>
            {%endif%}

            <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="custom-modal">Delete Review?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{url_for('delete_review',book_id=book.book_id)}}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="custom-modal ">Add Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <div class="modal-footer d-flex justify-content-center form-group">
                        {{ form.review_content(class="form-control") }}
                  </div>
            <fieldset>
            <div class="modal-footer d-flex justify-content-center form-group">
              {{form.submit(class="btn btn-outline-info")}}
            </div>      

            </fieldset>
            
            </form>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="custom-modal">Edit Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form method="POST" action="" enctype="multipart/form-data">
                  {{ form2.hidden_tag() }}
                  <div class="modal-footer d-flex justify-content-center form-group">
                        {{ form2.review_content_edit(class="form-control") }}
                  </div>
            <fieldset>
            <div class="modal-footer d-flex justify-content-center form-group">
              {{form2.submit_edit(class="btn btn-outline-info")}}
            </div>      

            </fieldset>
            
            </form>
    </div>
  </div>
</div>
{% endblock content %}