{% extends "layout.html" %}
{% block content %}
<div align="center">
            <h2>HOME PAGE</h2>  
            <br>
            <h4>ALL EBOOKS</h4>
        <table border=2 align="center">  
            <thead>  
                <td>ID</td>
                <td>ISBN</td>  
                <td>Title</td>  
                <td>Category</td>  
            </thead>  
              
            {% for row in book %}  
              
                <tr>  
                    <td>{{row.book_id}}</td>  
                    <td>{{row.isbn}}</td>
                    <td>{{row.title}}</td>  
                    <td>{{row.category}}</td>  
                </tr>  
              
            {% endfor %}  
        </table>  

</div>
{% endblock content %}
