{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    
    .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 8.0%;
}
#book_heading{
     margin-left: 200px;
}
.button-center{
    display: flex;
    justify-content: flex-end;
    align-items: right;

}
</style>
<div align="center">
            
            <h4 id="book_heading">MY EBOOKS</h4>
        <main id="grid" style="justify-content:flex-start;width:1000px"> 
            {% for row in books %}  
            <div  onclick='window.open("{{url_for('Books',book_id=row.book_id)}}")' style="background: #f1c238;margin: 1rem">
                {% if row.book_id < 12 %}
                <img src="{{url_for('static',filename=row.path)}}" title="category:{{row.category}}     Bookid:{{row.book_id}}   isbn:{{row.isbn}}"  width="190" height="150" style="opacity: 0.8">

                {% else %}
                <img src="{{row.path}}" title="category:{{row.category}}     Bookid:{{row.book_id}}   isbn:{{row.isbn}}"  width="190" height="150" style="opacity: 0.8" >
                {% endif %}
                
                
                <h4 style="margin-top: 1rem;visibility: hidden; width:180px">{{row.title}}</h4>  
                

            </div>
            {% endfor %}  
              
        </main>  

</div>
<div align="center">
  
  <div class="button-center">
    <a href="{{ url_for('SearchBooksAdd') }}" class="btn button book">+Add Books</a>
    <a href="{{ url_for('DeleteBooks') }}" class="btn button book">Delete Books</a>
  </div>
</div>
{% endblock content %}


