{% extends "layout.html" %}
{% block content %}


<div align="center">
            <h4>MY EBOOKS</h4>
        <table border=2 align="center">  
            <thead>  
                <td>ID</td>
                <td>Title</td>  
                <td>Category</td>  
            </thead>  
              
            {% for row in books %}  
              
                <tr>  
                    <td>{{row.book_id}}</td>  
                    <td>{{row.title}}</td>  
                    <td>{{row.category}}</td>  
                </tr>  
              
            {% endfor %}  
        </table>  

</div>
<br>
<div align="center">

  <div class="button-center">
    <a href="{{ url_for('AddBooks') }}" class="btn button">+Add Books</a>
  </div>
  <br>
  <div class="button-center">
    <a href="{{ url_for('DeleteBooks') }}" class="btn button">Delete Books</a>
  </div>

</div>
{% endblock content %}
