<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Party Planner - {{ title }}</title>
    {% else %}
        <title>Party Planner</title>
    {% endif %}
    <style>
	#customers {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  text-align: center;
	  width: 80%;
	}

	#customers td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#customers tr:nth-child(even){background-color: #f2f2f2;}

	#customers tr:hover {background-color: #ddd;}

	#customers th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: center;
	  background-color: #000000;
	  color: white;
	}
	</style>
</head>
<body class="not_home">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Party Planner</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <div class="dropdown show">
                  <a class="btn bg-transparent dropdown-toggle nav-item nav-link mr-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    Events
                  </a>

                  <div class="dropdown-menu bg-steel" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item nav-item nav-link mr-3" href="{{ url_for('MyEvents') }}">My Events</a>
                    <a class="dropdown-item nav-item nav-link mr-3" href="{{ url_for('new_post') }}">New Event</a>
                  </div>
                </div>
                <a class="nav-item nav-link mr-3" href="{{ url_for('new_post') }}">Seating Chart</a>
                <a class="nav-item nav-link mr-3" href="{{ url_for('progressreport', post_id=post.id) }}">Progress Report</a>
                <a class="nav-item nav-link mr-3" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <br>
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title" style="border-bottom: 2px solid black;"><b>Progress Report</b></h2>
      <br>
      <p class="article-content">Number of Guests: {{ post.no_of_guests }}</p>
      <p class="article-content">Number of Tables: {{ post.no_of_tables }}</p>
      <p class="article-content">Chairs per table: {{ post.chairs_p_table }}</p>

      <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'GuestsRSVP')">Guests RSVP</button>
      <button class="tablinks" onclick="openCity(event, 'TWC')">Table Wise Chart</button>
      </div>

	      <div id="GuestsRSVP" class="tabcontent">
	        <h3 style="text-align: center; border-top:2px dotted black ; padding-top: 5px">Guests RSVP :</h3>
	        <br>
	      	<table id="customers" align="center">
			  <tr>
			    <th>Guest ID</th>
			    <th>Name</th>
			    <th>RSVP</th>
			  </tr>
			  	{% for i in myList %}
			  <tr>
			    <td>{{ i["id"] }}</td>
			    <td>{{i["name"]}}</td>
			    <td><div class="form-check">
           <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
          </td>
			  </tr>
			    {% endfor %}
			 </table>
			 <br>
	      </div>
        <div id="TWC" class="tabcontent">
          <br>
          {% for i in range(post.no_of_tables) %}
            <table id="customers" align="center">
              <tr>
                <th>Table {{ i+1 }}</th>
              </tr>
              {% for j in sortedMyList[(i*post.chairs_p_table):(i+1)*post.chairs_p_table] %}
              <tr>
                <td>{{ j["id"] }}, {{j["name"]}}</td>
              </tr>
                {% endfor %}
            </table>
            <br>

          {%endfor%}

        </div>
      

    </div>
  </article>
  
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
</body>
</html>
