{% extends "layout.html" %}
{% block content %}
<style type="text/css">
.alphabet{
  display:flex;
  justify-content: center;
  align-items: initial;
}


</style>
<script src="static/searchbook.js"></script> 

<div align="center">
  
    <h4>Search</h4>
    <input id="myInput" onkeyup="myFunctionName()" type="text" placeholder="Search by name.."> 
    
    <select name="category" onchange="myNewFunction()">
      <option value="All" selected>All</option>
      <option value="Programming">Programming</option>
      <option value="fiction">fiction</option>
      <option value="Sci-fi">Sci-fi</option>
      <option value="Science">Science</option>
      <option value="Engineering">Engineering</option>
      <option value="mystery">mystery</option>
      <option value="history">history</option>
      <option value="classics">classics</option>
      <option value="robotics">robotics</option>
      <option value="Enviromental Science">Enviromental Science</option>
      <option value="Mathematics">Mathematics</option>
    </select>
    
    <ul class="alphabet">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
      <button>F</button>
      <button>G</button>
      <button>H</button>
      <button>I</button>
      <button>J</button>
      <button>K</button>
      <button>L</button>
      <button>M</button>
      <button>N</button>
      <button>O</button>
      <button>P</button>
      <button>Q</button>
      <button>R</button>
      <button>S</button>
      <button>T</button>
      <button>U</button>
      <button>V</button>
      <button>W</button>
      <button>X</button>
      <button>Y</button>
      <button>Z</button>
     
    </ul>

    



    <table id="myTable">  
      <thead> 
          <th style="width: 100px "></th>
          <th style="width: 100px ">Title</th>  
          <th style="width: 100px ">Category</th> 
           
      </thead>
        <tbody style="width: 400px;">
          {% for book in books %}
          <tr onclick='window.open("{{url_for('Books',book_id=book.book_id)}}")'>
          
            <td style="width: 10px">
            {% if book.book_id < 12 %}
            
            <img src="{{url_for('static',filename=book.path)}}"   width="150" height="100">
           

            {% else %}
            
            <img src="{{book.path}}" width="150" height="100" >
             {% endif %}
            </td>
           
          <td style="width: 200px;">
          {{ book.title }}
            </td>
            <td style="width: 160px;">
          {{ book.category }}
            </td>
            

              
          </tr>
          {% endfor %}
        </tbody>
        
</table>  
</div>
<br>

{% endblock content %}

